<h2 class="text-center text-white m-5">Registration Form</h2>
<div class="row">
    <div class="col-sm-2 col-md-3" ></div>
    <div class="col-sm-8 col-md-6" >
        <form class="mt-4 p-5 " style="color: black; font-weight: 500;">
            <div class="form-group">
                <label for="un">Username :</label>
                <input type="text" class="form-control" id="un" placeholder="Enter username" name="username">
                <br>    
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address :</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="email"  placeholder="Enter email">
            <br>  
            </div>
            
            <div class="form-group">
                <label for="dob">Date Of Birth :</label>
                <input type="date" class="form-control" id="dob" name="dob" placeholder="DOB">
                  <br>
              </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password :</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                <br>
            </div>
            
            <button type="submit" class="btn btn-success mt-4 d-block mx-auto" >Register</button>
          </form>
    </div>
    <div class="col-sm-2 col-md-3" ></div>
</div>
